
<% content_for :nav do %>

  <% if authenticated? %>
  <%= link_to "Peeps", party_url %> | 
  <%= link_to "Reset Data!", reset_url %> 
  <% end %>

<% end %>

<% content_for :content do %>

  <div class="greeting">Hello, <%= @person.first_name %></div>

  <%= yield %>

<% end %>


<%= render :file => 'layouts/application' %>