        <section class="main">
            <p class="sort">Sort by: 
            <% if params[:letter].nil? %>
                <a class="active" href="/party/">Arrival</a> |
                <a href="/party/?letter=A">Name</a>
            <% else %>
                <a href="/party/">Arrival</a> |
                <a class="active" href="/party/?letter=A">Name</a>
            <% end %>
            </p>
            <% if !params[:letter].nil? %>
            <div class="currently clearfix">
                <p>Showing <%= params[:letter] %>&#39;s</p>
                <form method="GET" action="">
                    <select name="letter">
                        <% ("A".."Z").each do |letter| %>
                        <option <%= "selected=\"selected\"".html_safe if letter==params[:letter] %>><%= letter %></option>
                        <% end %>
                    </select>
                </form>
            </div>
            <% end  %>
            <% if @peeps.count > 0 %>
            <ul class="profile-list clearfix">
              <% @peeps.each do |p| %>
                <li style="list-style-type:none; ">
                    <%= link_to image_tag("http://graph.facebook.com/#{p.identifier}/picture?type=square", :alt => p.first_name), :action => :peep, :identifier => p.identifier  %>
                    <%= link_to p.first_name, :action => :peep, :identifier => p.identifier %>
                </li>
              <% end %>
            </ul>
            <% else %>
            <p>Nobody matching this criteria has opted-in.</p>
            <% end %>
        </section>