
<section class="main freeform" id="profile">
    <header class="clearfix">
        <figure><%= image_tag "http://graph.facebook.com/#{@peep.identifier}/picture?type=normal" %></figure>
        <h1><%= @peep.first_name %></h1>
        <dl>
            <dt>Digital Capital</dt>
            <dd><%= @peep.digital_capital || "Still calculating..."%></dd>
            <dt>Sign</dt>
            <dd><%= @peep.birthday.try(:to_date).try(:zodiac_sign) %></dd>
            <dt class="rec">Recommendation</dt>
            <dd class="rec"><%= @recommendation %></dd>
        </dl>
    </header>
    <h2>Conversation Starters</h2>
    <ul class="starters">
      
        <% if Rails.env == "development" || @person.birthday == @peep.birthday 
            @primary_matches += 1
        %>
        <li class="clearfix">
            <%= image_tag "/images/icons/conversation/birthday.jpg" %>
            <h3>Same birthday</h3>
            <h4>Born <%= @peep.birthday.to_date.to_formatted_s(:long_ordinal) %></h4>
        </li>
        <% end %>
      
        <% if Rails.env == "development" ||  ((Party::recommendation @person, @peep) == "F#!%" && Party::friends_in_common(@person, @peep).count == 0) 
            @primary_matches += 1
        %>
        <li class="clearfix">
            <%= image_tag "/images/icons/conversation/nofriends.jpg" %>
            <h3>Tomorrow Morning Won't Be Awkward</h3>
            <h4>No Mutual Friends</h4>
        </li>
        <% end %>

        <% if Rails.env == "development" || (@person.religion == @peep.religion && !@peep.religion.nil?) 
            @primary_matches += 1
        %>
        <li class="clearfix">
            <%= image_tag "/images/icons/conversation/religious.jpg" %>
            <h3>Same Religious Views!</h3>
            <h4><%= @peep.religion %></h4>
        </li>
        <% end %>

        <% if Rails.env == "development" || (@person.political == @peep.political && !@peep.political.nil?) 
            @primary_matches += 1
        %>
        <li class="clearfix">
            <%= image_tag "/images/icons/conversation/constitution.jpg" %>
            <h3>Same Religious Views!</h3>
            <h4><%= @peep.political %></h4>
        </li>
        <% end %>

        <% if Rails.env == "development" || @friends_in_common.count > 0 
            @primary_matches += 1
        %>
            <% 
               @friends_in_common.shuffle[0..1].each do |friend| 
                   friend.first_name ||= friend.name.split(" ")[0]
            %>
        <li class="clearfix">
            <%= image_tag("http://graph.facebook.com/#{friend.identifier}/picture?type=square", :alt => friend.first_name) %>
            <h3>Mutual Friend</h3>
            <h4><%= friend.first_name %></h4></li>
        </li>
            <% end %>
        <% end %>
        
        <% if Rails.env == "development" || (@person.books & @peep.books).count > 0 
            @primary_matches += 1
        %>
            <% (@peep.books)[0..1].each do |book| %>
        <li class="clearfix">
            <img src='http://graph.facebook.com/<%= book.identifier %>/picture' />
            <h3>Same Favorite Book!</h3>
            <h4><%= book.name %></h4></li>
        </li>
            <% end %>
        <% end %>
        
        <% if Rails.env == "development" || @shared_tv_shows.count > 0 
            @primary_matches += 1
        %>
            <% @shared_tv_shows[0..1].each do |show| %>
        <li class="clearfix">
            <img src='http://graph.facebook.com/<%= show.identifier %>/picture' />
            <h3>Same Favorite Show!</h3>
            <h4><%= show.name %></h4></li>
        </li>
            <% end %>
        <% end %>
        
        <% if Rails.env == "development" || @shared_movies.count > 0 
                @primary_matches += 1
                @shared_movies[0..1].each do |movie| %>
        <li class="clearfix">
            <img src='http://graph.facebook.com/<%= movie.identifier %>/picture' />
            <h3>Same Favorite Movie!</h3>
            <h4><%= movie.name %></h4></li>
        </li>
            <% end %>
        <% end %>
        
        <% if Rails.env == "development" || @shared_bands.count > 0 
                @primary_matches += 1
                @shared_bands[0..1].each do |band| 
        %>
        <li class="clearfix">
            <img src='http://graph.facebook.com/<%= band.identifier %>/picture' />
            <h3>Same Favorite Band!</h3>
            <h4><%= band.name %></h4></li>
        </li>
                <% end %>
        <%  end %>
        
        <% 
            if Rails.env == "development" || @primary_matches <= @primary_match_limit 
                unique_books = @peep.books - @person.books
                if unique_books.count > 0
                    @primary_matches += 1
        %>
        <li class="clearfix">
            <img src='http://graph.facebook.com/<%= unique_books[0].identifier %>/picture' />
            <h3>Book</h3>
            <h4><%= unique_books[0].name %></h4></li>
        </li>
        <%      
                end 
            end 
        %>

        <% 
            if Rails.env == "development" || @primary_matches <= @primary_match_limit 
                unique_tv_shows = @peep.tv_shows - @person.tv_shows
                if unique_tv_shows.count > 0
                    @primary_matches += 1
                    show = unique_tv_shows.sample
        %>
        <li class="clearfix">
            <img src='http://graph.facebook.com/<%= show.identifier %>/picture' />
            <h3>Television Show</h3>
            <h4><%= show.name %></h4></li>
        </li>
        <%      
                end 
            end 
        %>

        <% 
            if Rails.env == "development" || @primary_matches <= @primary_match_limit 
                unique_movies = @peep.movies - @person.movies
                if unique_movies.count > 0
                    @primary_matches += 1
                    movie = unique_movies.sample
        %>
        <li class="clearfix">
            <img src='http://graph.facebook.com/<%= movie.identifier %>/picture' />
            <h3>Movie</h3>
            <h4><%= movie.name %></h4></li>
        </li>
        <%      
                end 
            end 
        %>

        <% 
            if Rails.env == "development" || @primary_matches <= @primary_match_limit 
                unique_teams = @peep.teams - @person.teams
                if unique_teams.count > 0
                    @primary_matches += 1
                    team = unique_teams.sample
        %>
        <li class="clearfix">
            <img src='http://graph.facebook.com/<%= team.identifier %>/picture' />
            <h3>Favorite Team</h3>
            <h4><%= team.name %></h4></li>
        </li>
        <%      
                end 
            end 
        %>
        
        
        
        
        

    </ul>
    
    <% if @recommendation.titleize != "Friend" %>
    <div class="wingpeeps clearfix">
        <p><img src="/images/goose-maverick.jpg" />You don't have to go alone. Pick up a wingpeep at the booth.</p>
    </div>
    <% end %>
</section>