
  <img src='http://graph.facebook.com/<%= @peep.identifier %>/picture?type=normal' />
  <h1><%= @peep.first_name %></h1>
  <div class="dc">
    <div class="title">DIGITAL CAPITAL</div>
    <%= @peep.digital_capital || "Still calculating..."%>
  </div>

  <div class="sign">
    <div class="title">SIGN</div>
    <%= @peep.birthday.try(:to_date).try(:zodiac_sign) %>
  </div>

  <div class="recommendation">
    <div class="title">RECOMMENDATION</div>
    <%= (Party::recommendation @person, @peep).titleize %>
  </div>

  <hr>
  <h2>Conversation Starters</h2>
  
  <ul>
    <% if @person.birthday == @peep.birthday %>
    <li><div class="supertitle">Same birthday</div>Born <%= @peep.birthday %></li>
    <% end %>
    
    
    <% if Party::friends_in_common(@person, @peep).count == 0 %>
    <li>
      <div>Tomorrow Morning Won't Be Awkward</div>
      No Mutual Friends
    </li>
    <% end %>

    <% if @person.religion == @peep.religion %>
    <li>
      <div>Same Religious Views!</div>
      <%= @peep.religion %>
    </li>
    <% end %>




    
    <li>
      Friends in Common: <%= Party::friends_in_common(@person, @peep).count %>
    </li>
  </ul>


